*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}