*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  color: #222; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }

.btn {
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: #F9AF5E;
  border-radius: 100px;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    transform: scale(1.1);
    background-color: #e09e55; }

.banner {
  grid-column: full-start / full-end;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .banner__logo {
    width: 22rem;
    height: auto;
    margin: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .banner__logo {
        width: 16rem; } }
  .banner__sub-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1rem;
    word-spacing: 1.1rem;
    color: #5D5D5D; }
    @media only screen and (max-width: 37.5em) {
      .banner__sub-title {
        font-size: 2rem; } }

.auction-ended-banner {
  background-color: rgba(255, 0, 0, 0.4);
  grid-column: center-start / center-end;
  padding: 2rem;
  font-size: 2rem; }

.auction-info {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #aaa;
  padding-bottom: 2rem;
  margin-top: 6rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 50em) {
    .auction-info {
      flex-direction: column;
      align-items: flex-start; } }
  .auction-info__name {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #5D5D5D;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 75em) {
      .auction-info__name {
        font-size: 3rem; } }
    @media only screen and (max-width: 50em) {
      .auction-info__name {
        font-size: 2.4rem; } }
  .auction-info__date-span {
    font-size: 2.5rem;
    font-weight: 300;
    color: #5D5D5D; }
    @media only screen and (max-width: 75em) {
      .auction-info__date-span {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 50em) {
      .auction-info__date-span {
        font-size: 1.5rem;
        margin-bottom: .5rem; } }
  .auction-info__welcome {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300; }

.items {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem;
  margin-bottom: 18rem; }

.item {
  background-color: rgba(249, 175, 94, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  display: grid; }
  .item__img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    z-index: 1; }
  .item__data {
    padding: 1rem 1.5rem; }
  .item__name {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .item__description {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem; }
  .item__price {
    background-color: rgba(249, 175, 94, 0.3);
    padding: 1rem 1.5rem; }
  .item__starting-price {
    display: flex;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    color: #5D5D5D;
    text-transform: uppercase;
    font-size: 1.6rem; }
  .item__current-price {
    display: flex;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem; }

.bid {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bid__amount {
    font-size: 1.4rem;
    padding: .5rem;
    flex-shrink: 1;
    width: 12rem; }
  .bid__button {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    border: none;
    padding: 1rem 3rem;
    background-color: #F9AF5E;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s; }
    .bid__button:hover {
      transform: scale(1.1);
      background-color: #e09e55; }

.login-container {
  background-color: #e09e55; }

#login {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 65vh; }

.loginInput {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  background: #ddd;
  color: #5D5D5D; }
  @media only screen and (max-width: 50em) {
    .loginInput {
      padding: 1rem;
      margin: 3rem;
      font-size: 6rem; } }

#checkCredentials {
  color: #222;
  padding: 0.5rem;
  margin: 1rem;
  width: 15rem;
  font-size: 2rem;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 50em) {
    #checkCredentials {
      font-size: 6rem;
      width: inherit;
      padding: 2rem 6rem; } }

#checkCredentials:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #709AC5;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

#checkCredentials:hover:before, #checkCredentials:focus:before, #checkCredentials:active:before {
  left: 0;
  right: 0; }

footer {
  text-align: center; }
