.banner {
    
    grid-column: full-start / full-end;
    background-color: $color-grey-light-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    //box-shadow: 0 .5rem .5rem rgba(#444, 0.05);

    &__logo {
        width: 22rem;
        height: auto;
        margin: 2rem 0;

        @media only screen and (max-width: $bp-small) {
            width: 16rem;
        } 
    }

    &__sub-title {
        margin-bottom: 2rem;
        margin-right: -1.1rem;
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.1rem;
        word-spacing: 1.1rem;
        color: $color-grey-dark-2;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        } 
    }
}

.auction-ended-banner {
    display: none;
    background-color: rgba(yellow, .4);
    grid-column: full-start / full-end;
    padding: 1.2rem 4rem;

    &__text {
        font-size: 1.8rem;
        color: $color-grey-dark-1;
    }
}

.auction-not-started-banner {
    display: none;
    background-color: rgba(yellow, .4);
    grid-column: full-start / full-end;
    padding: 1.2rem 4rem;

    &__text {
        font-size: 1.8rem;
        color: $color-grey-dark-1;
    }
}