// TYPOGRAPHY VARIABLES

$color-grey-light-1: #ddd;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #222;
$color-grey-dark-2: #5D5D5D;

$color-heiden-orange: #F9AF5E;
$color-heiden-orange-dark: #e09e55;
$color-heiden-blue: #709AC5;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;      // 1200px
$bp-large: 62.5em;      // 1000px
$bp-medium: 50em;       // 800px
$bp-small: 37.5em;      // 600px
$bp-smallest: 25em;     // 400px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;       // 1rem = 10px
}

body {
    font-family: 'Lato', sans-serif;
    color: $color-grey-dark-1;
}

// Class placed on full <body> tag
.container {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    }
}

.btn {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    //border: none;
    padding: 1rem 3rem;
    background-color: $color-heiden-orange;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
        background-color: $color-heiden-orange-dark;
    }

    &--small {
        font-size: 1rem;
        padding: .75rem 1rem;

        &:hover {
            transform: scale(1.1);
            background-color: $color-heiden-orange-dark;
        }
    }
}
