.return-to-auction-button {
    grid-column: center-start / center-end;
    justify-self: start;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.bids-container {
    grid-column: center-start / center-end;

    &__green-info {
        display: block;
        font-size: 1.8rem;
        color: $color-grey-dark-2;
        margin-bottom: 1rem;
    }
}

.bids-table {
    width: 100%;
    border-collapse: collapse;

    table, th, td {
        border: 1px solid $color-grey-light-1;
        font-size: 2rem;
        text-align: left;
        padding: 1rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 3.5rem;
        }
    }

    &__head {
        padding: 1rem;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.winning-bid {
    background-color: #B7F3A1;
}