.bids-container {
    margin-top: 12rem;
    grid-column: center-start / center-end;
}

.bids-table {
    width: 100%;
    border-collapse: collapse;

    table, td {
        border: 1px solid $color-grey-light-2;
        font-size: 2rem;
        text-align: left;
        padding: 1rem;
    }

    &__head {
        border: 1px solid $color-grey-light-2;
        text-align: left;
        padding: 1rem;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
    }
}