.auction-info {

    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $color-grey-light-2;
    padding-bottom: 2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;


    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        align-items: flex-start;
    }

    &__name {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-grey-dark-2;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-largest) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.4rem;
        }
    }

    &__date-span {
        font-size: 2.5rem;
        font-weight: 300;
        color: $color-grey-dark-2;

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }
    }
}

.user {
    display: flex;
    flex-direction: column;

    &__welcome {
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 300;
    }

    &__view-bids {
        
    }
}