#login {
    grid-column: full-start / full-end;
    background-color: $color-grey-light-1;
    display: flex;
    flex-direction: column;
    align-items: center;
/*    box-shadow: 0 .5rem .5rem rgba(#444, 0.05);*/
/*    margin-bottom: 6rem;*/
    padding:  1rem;
}

.loginInput {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
    background: rgb(250,175,94);
    color: rgb(86,161,213);
    box-shadow: 5px 5px 10px #888888;
}

#checkCredentials {
    padding: 0.5rem;
    margin: 1rem;
    width: 15rem;
    font-size: 2rem;
    border-radius: 5px;
}

#checkCredentials:hover {
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    100% {
        background-color: #00FF00;
    }
}
